<section class="horizontal-form">
  <div class="container-fluid">
    {{!-- This partial contains the quantity, name, and description fields --}}
    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>Xen Server Driver</span>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">vCPU count</label>
        </div>
        {{input type="number"
          class="form-control"
          value=model.%%DRIVERNAME%%Config.vCpuCount
        }}
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">Memory size</label>
        </div>
        <div class="input-group">
          {{input type="number"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.memorySize
          }}
          <span class="input-group-addon">MB</span>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">Disk size</label>
        </div>
        <div class="input-group">
          {{input type="number"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.diskSize
          }}
          <span class="input-group-addon">MB</span>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">boot2docker url</label>
        </div>
        {{input type="text"
          class="form-control"
          value=model.%%DRIVERNAME%%Config.boot2dockerUurl
        }}
    </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">server</label>
        </div>
        {{input type="text"
          class="form-control"
          value=model.%%DRIVERNAME%%Config.server
        }}
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">Host label</label>
        </div>
        {{input type="text"
          class="form-control"
          value=model.%%DRIVERNAME%%Config.hostLabel
        }}
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">Username</label>
        </div>
        {{input type="text"
          class="form-control"
          value=model.%%DRIVERNAME%%Config.username
        }}
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">Password</label>
        </div>
        {{input type="password"
          class="form-control"
          value=model.%%DRIVERNAME%%Config.password
        }}
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">Network label</label>
        </div>
        {{input type="text"
          class="form-control"
          value=model.%%DRIVERNAME%%Config.networkLabel
        }}
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">Sr label</label>
        </div>
        {{input type="text"
          class="form-control"
          value=model.%%DRIVERNAME%%Config.srLabel
        }}
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">Upload timeout</label>
        </div>
        <div class="input-group">
          {{input type="number"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.uploadTimeout
          }}
          <span class="input-group-addon">Sec</span>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-label">
          <label class="form-control-static">Wait timeout</label>
        </div>
        <div class="input-group">
          {{input type="number"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.waitTimeout
          }}
          <span class="input-group-addon">Sec</span>
        </div>
      </div>

    </div>

    {{!-- This partial contains the Labels and Advanced Options fields --}}
    {{partial "host/add-options"}}
  </div>

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
